<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @service.company %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @service.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @service.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Price with vat:</strong>
  <%= @service.price_with_vat %>
</p>

<p>
  <strong>Payed:</strong>
  <%= @service.payed %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
